main {
  position: absolute;
  width: 720px;
  height: 400px;
}

body {
  position: absolute;
  width: 720px;
}

.bgs {
  position: absolute;
  z-index: 1;
  width: 2000px;
  height: 1000px;
  transform: translate(0%, 0%);
}

.bg {
  position: absolute;
  z-index: 2;
  width: 1100px;
  height: 600px;
  transform: translate(0%, 0%);
}

.hr {
  position: absolute;
  z-index: 3;
  width: 180px;
  top: calc(50% - 110px);
  right: 0;
  transform: translate(-50%, -50%);
}

.mn {
  position: absolute;
  z-index: 4;
  width: 90px;
  top: calc(50% - 50px);
  right: calc(50% + 180px);
  transform: translate(-50%, -50%);
}

.tr {
  position: absolute;
  z-index: 5;
  width: 450px;
  top: calc(50% - 80px);
  left: calc(50% - 150px);
  transform: translate(-50%, -50%);
}

.parallax {
  pointer-events: none;
}

.nonsen {
  pointer-events: none;
}

section {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 0 70px;
  padding-top: 70px;
}


h1 {
  font-family: 'Poppins', sans-serif; 
  width: 500px;
  height: 200px;
  top: 20%;
  left: 50%;
  z-index: 9;
  color: white;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}


.text {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50℅);
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.btn {
  text-decoration: none;
  border: 2px solid #764abc;
  color: #764abc;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 1s;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #764abc;
  transition: all 1s;
  z-index: -1;
  transform: translateX(-100%);
}

.btn:hover::before {
  transform: translateX(0);
}

.btn:hover {
  color: #fff;
}

.card-letters {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  color: white;
  word-break: break-word;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  white-space: pre-wrap;
  cursor: pointer;
  box-sizing: border-box;
}

.matrix{ 
    height: 100%;
    width: 100%;   
    display: flex;
    flex-wrap: wrap;
  }
