main {
  position: relative;
  height: 10vh;
  width: 10vw;
  overflow: hidden;
}

.bg {
  position: absolute;
  z-index: 1;
  width: 1000px;
  top: calc(50% - 390px);
  right: calc(50℅ - 210px);
  transform: translate(-50%, -50%);
}

.hr {
  position: absolute;
  z-index: 2;
  width: 150px;
  top: calc(50% - 110px);
  right: calc(50% +300px);
  transform: translate(-50%, -50%);
}

.mn {
  position: absolute;
  z-index: 3;
  width: 50px;
  top: calc(50% - 50px);
  right: calc(50% + 180px);
  transform: translate(-50%, -50%);
}

.tr {
  position: absolute;
  z-index: 4;
  width: 350px;
  top: calc(50% - 80px);
  left: calc(50% - 150px);
  transform: translate(-50%, -50%);
}
